<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.6/phpunit.xsd"
		 bootstrap="tests/bootstrap.php"
		 backupGlobals="false"
		 beStrictAboutCoversAnnotation="true"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 colors="true"
		 verbose="true">
	<testsuites>
		<testsuite name="All Tests">
			<directory suffix="Test.php">./tests/unit/*</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-html"
			 target="./tests/coverage/"
			 showUncoveredFiles="true"
			 lowUpperBound="35"
			 highLowerBound="70" />
	</logging>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes/*</directory>
			<exclude>
				<directory suffix=".php">./includes/templates/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
